mat-icon {
  float: left;
  padding: 8px 8px;
  color: white;
}
.topnav {
  background-color: #585555;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.button{
  border: none;
  background: none;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 15px;
}
.button:hover {
  background-color: #ddd;
  color: black;
}

.topnav .nav{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 15px;
}

.username {

  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;

  padding: 10px 0 10px 0;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav .nav:hover {
  background-color: #ddd;
  color: black;
}

.username {

  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin-left: 15px;
  padding: 10px 0 10px 0;
  text-decoration: none;
  font-size: 15px;
}